#nav {
  border-bottom: 2px solid #2788da;
  height: 26px;
}

#nav li {
  float: left;
  list-style: none;
}

#nav li a {
  background-color: #ececec;
  color: #000000;
  display: block;
  height: 22px;
  margin-left: 1px;
  outline: 0;
  padding-top: 4px;
  text-align: center;
  text-decoration: none;
  width: 97px;
}

#nav li a:hover {
  background-color: #bbbbbb;
  color: #FFFFFF;
}

#nav li a#current {
  background-color: #2788da;
  color: #FFFFFF;
}
